.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        flex: 0 0 20%;
        margin-left: 20px;
    }
    &__nav {
        align-self: flex-end;
        display: flex;
        align-items: flex-end;
        align-content: space-between;
        &-item {
            flex: 0 0 auto;
            padding: 20px;
            margin: 0 20px;
            & a {
                text-decoration: none;
            }
        }
    }
}

.selected__link {
    color: red;
}