.nav-btn {
  border: none;
  border-radius: 0;
  background-color: #fff;
  height: 2px;
  width: 4.5rem;
  margin-top: 4rem; }
  .nav-btn::before, .nav-btn::after {
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    content: "";
    display: block; }
  .nav-btn::before {
    transform: translateY(-1.5rem); }
  .nav-btn::after {
    transform: translateY(1.3rem); }

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .header__logo {
    flex: 0 0 20%; }
  .header__nav {
    display: flex;
    align-items: flex-end;
    align-content: space-between; }
    .header__nav-item {
      padding: 20px;
      margin: 0 20px; }
      .header__nav-item a {
        text-decoration: none; }

.selected__link {
  color: red; }
